* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
}

:root {
	--bg-primary-color: #1f2937;
	--bg-secondary-color: #013e28;
	/* --bg-tertiary-color:; */

	--text-primary-color: #ffffff;
	--text-primary-color-dark: #000000;
	--text-second-color: #026842;

	--color-fondo-calculadora: #00150d;
	--color-text: #ffffff;
	--color-botones: #012a1a;
	--color-botones-hover: #013e28;
}

body {
	background: var(--bg-primary-color);
	color: var(--text-primary-color);
}

/* Variables */

/* Header styles */
header {
	width: 100%;
	padding: 20px;
}

.navbar {
	width: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	/* box-shadow: 1px 1px 5px black; */
}

.menu {
	display: flex;
	gap: 20px;
	list-style: none;
}

.menu li a {
	text-decoration: none;
	color: var(--text-primary-color);
	padding: 10px;
}

.menu li a:hover {
	color: black;
	background-color: var(--bg-secondary-color);
	border-radius: 5px;
	color: var(--text-primary-color);
}

.container__header_content {
	display: flex;
	justify-content: space-between;
	width: 80%;
	padding: 10px;
	margin: 100px auto;
	flex-wrap: wrap;
	gap: 20px;
}

.container_content_info {
	width: 500px;
	display: flex;
	flex-direction: column;
	gap: 10px;
	/* flex: 1; */
}

.container_content_info h1 {
	color: var(--text-primary-color);
	font-weight: 700;
	width: 60%;
}

.header_btn_content {
	background-color: #5ebe9a;
	color: black;
	padding: 15px;
	width: 30%;
	margin-top: 20px;
	border-radius: 10px;
	border: none;
	cursor: pointer;
}

.container_content_img img {
	max-width: 400px;
	max-height: 300px;

	border-radius: 10px;
}

.img-header {
	animation: animacion_img_header 3s infinite alternate;
}

@keyframes animacion_img_header {
	0% {
		transform: translateY(0px);
	}

	50% {
		transform: translateY(20px);
	}
}

section {
	width: 100%;
	background-color: #ffffff;
	color: var(--text-primary-color-dark);
	padding: 30px;
	display: flex;
	text-align: center;
}

h2 {
	font-size: 2rem;
}

.container_some_random_information {
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 70px;
}

.container_boxs {
	display: flex;
	gap: 30px;
	margin-top: 40px;
	flex-wrap: wrap;
}

.container_box {
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
}

.box {
	width: 100px;
	height: 100px;
	border: 1px solid #3882f6;
	border-radius: 10px;
}

.container_testimonial {
	background-color: burlywood;
	display: flex;
	/* padding: 50px; */
	height: 600px;
	align-items: center;
	position: relative;
}

.container_testimonial p {
	width: 50%;
	margin: 0 auto;
	font-size: 2rem;
}

.container_testimonial cite {
	font-size: 20px;
	position: absolute;
	bottom: 25px;
	right: 150px;
	color: #012a1a;
}

footer {
	height: 50vh;
	width: 100%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	padding: 30px;
	text-align: center;
}

.container_contact {
	background-color: #ffffff;
	color: var(--text-primary-color-dark);
	padding: 30px 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%;
}

.container_contact_info {
	text-align: start;
}

.btn_contact {
	padding: 15px 30px;
	border: none;
	background-color: #e5e7eb;
	cursor: pointer;
	border-radius: 5px;
}
